NEXT_PUBLIC_BACKEND_API_URL="http://localhost:3000"
NEXT_PUBLIC_SOROBAN_RPC_URL="http://localhost:8000/soroban/rpc"
NEXT_PUBLIC_ESCROW_CONTRACT_ID=""
NEXT_PUBLIC_PRICE_ORACLE_CONTRACT_ID="CD7QY4BY3OFNVNZGWFZ2YUCILFNGUP4ZZUGU7KBUOE2P3ZUDCHA3AKCI"
